
{% block content %}
{% load static %}

<link  href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}" rel="stylesheet">
<link  href="{% static 'assets/css/style.css' %}" rel="stylesheet">
<link  href="{% static 'assets/css/vendor/bootstrap.min.css' %}" rel="stylesheet">


<style>
     body {
        background-color: #F5CAEF;
    }
    
    table {
      width: 10px;
      margin-left: 20px;
      background-color: #f5d6f1;
      border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }

    th {
        background-color: #A1E0F9;
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #FFD7FA;
    }

    tr:hover {
        background-color: #F1C2FF;
    }

    a {
        margin-left: 20px;
    }

    .btn-primary {
        background-color: #ED80FF;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        display: inline-block;
    }

    .btn-primary:hover {
        background-color: #D044E1;
    }
    
</style>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit price</th>
      <th scope="col">Total price</th>
      <th scope="col">Remove</th>

    </tr>
  </thead>
  <tbody>
  {% for item in cart %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{item.product}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price}}</td>
      <td>{{item.total_price}}</td>
      <td><a href="{% url 'order:cart_remove' item.product.id %}">remove</a></td>
    </tr>
  {% endfor %}
  <tr>
    <td>Total</td>
    <td>{{cart.get_total_price}}</td>
  </tr>
  </tbody>
</table>
<a href="{% url 'order:order_create' %}" class="btn btn-primary"  >CheckOut</a>

<div class="intro4-slider-wrap section-1">
    <div class="intro11-slider swiper-container">
        <div class="swiper-wrapper">
            <div class="intro11-section swiper-slide slide-4 slide-bg-1 bg-position">
                <!-- Intro Content Start -->
                <div class="intro11-content-2 text-center">
                  <h1 class="different-title">CheckOut</h1>
                </div>
                <!-- Intro Content End -->
                

            </div>
        </div>
    
    </div>
</div>
{% endblock %}