{% load static %}
 <!-- Shop Collection Start Here -->
 <div class="shop-collection-area gray-bg pt-no-text pb-no-text">
    <div class="container custom-area">
        <div class="row mb-30">
            <div class="col-md-6 col-custom">
                <div class="collection-content">
                    <div class="section-title text-left">
                        <span class="section-title-1">Flowers for the</span>
                        <h3 class="section-title-3 pb-0">Birthday & Gifts</h3>
                    </div>
                    <div class="desc-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <a href="shop.html" class="btn flosun-button secondary-btn rounded-0">Shop Collection</a>
                </div>
            </div>
            <div class="col-md-6 col-custom">
                <!--Single Banner Area Start-->
                <div class="single-banner hover-style">
                    <div class="banner-img">
                        <a href="#">
                            <img src="{% static 'assets/images/collection/1-1.jpg' %}" alt="">
                            
                            <div class="overlay-1"></div>
                        </a>
                    </div>
                </div>
                <!--Single Banner Area End-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-custom order-2 order-md-1">
                <!--Single Banner Area Start-->
                <div class="single-banner hover-style">
                    <div class="banner-img">
                        <a href="#">
                            <img src="{% static 'assets/images/collection/1-2.jpg' %}" alt="">
                            <div class="overlay-1"></div>
                        </a>
                    </div>
                </div>
                <!--Single Banner Area End-->
            </div>
            <div class="col-md-6 col-custom order-1 order-md-2">
                <div class="collection-content">
                    <div class="section-title text-left">
                        <span class="section-title-1">Flowers for the</span>
                        <h3 class="section-title-3 pb-0">Wedding day</h3>
                    </div>
                    <div class="desc-content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <a href="shop.html" class="btn flosun-button secondary-btn rounded-0">Shop Collection</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Collection End Here -->